<template>

    <div class="d-flex">
        <v-card class="mr-2">
            <v-card-text>
                <div>
                    <v-row>
                        <v-col>
                            <v-select
                                    :items="hours"
                                    v-model="hour"
                                    label="Heure"
                            ></v-select>
                        </v-col>

                        <v-col>
                            <v-select
                                    :items="minutes"
                                    v-model="minute"
                                    label="Minute"
                            ></v-select>
                        </v-col>
                    </v-row>

                    <v-text-field
                            label="Description"
                            v-model="description"
                    ></v-text-field>


                    <div v-for="(item, idx)  in command.itemsDesc">
                        <div class="d-flex ">

                            <div class="flex-grow-0 mr-1 mb-1">
                                <v-img :src="item.item.image" width="30" height="30"></v-img>
                            </div>

                            <div>{{item.item.name}}</div>
                            <div class="ml-2" style="font-weight: bold">x {{item.count}}</div>

                            <div class="ml-auto">
                                <v-btn @click="onIncreaseItem(item.item)"  color="green" fab width="20px" height="20px" class="white--text mr-2"> +</v-btn>
                                <v-btn @click="onDecreaseItem(item.item)" color="red" fab width="20px" height="20px" class="white--text"> -</v-btn>
                            </div>
                        </div>

                    </div>
                </div>
            </v-card-text>
        </v-card>


        <div class="d-flex flex-column-reverse">
            <v-btn class="mt-2"
                   color="green"
                   dark
                   small
                   fab
                   @click="onValidate"
            >
                <v-icon>mdi-check</v-icon>
            </v-btn>

            <v-btn
                    color="red"
                    dark
                    small
                    fab
                    @click="onCancel"
            >
                <v-icon>mdi-cancel</v-icon>
            </v-btn>
        </div>
    </div>



</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Item from "@/components/Item.vue";
    import {CommandInterface} from "@/interfaces/command.interface";

    @Component
    export default class CommandForm extends Vue {
        private hours = [11, 12, 13, 14, 18, 19, 20, 21, 22];
        private minutes = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55];

        private hour = 11;
        private minute = 0;
        private description = '';


        private command: CommandInterface = null;

        created() {
            this.command = this.$store.state.pendingsCommand;
        }

        onIncreaseItem(item: any) {
            this.$store.commit('addToPendingCommand', item);
        }

        onDecreaseItem(item: any) {
            this.$store.commit('decreasePendingCommandItem', item);
        }

        onValidate() {
            this.$store.commit('addPendingCommandToCommand', {
                hour: this.hour,
                minute: this.minute,
                description: this.description,
                itemsDesc: this.$store.state.pendingsCommand.itemsDesc,
            });
        }

        onCancel() {
            this.$store.commit('clearPendingCommand');
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

