<template>
    <v-card class="row mt-0" >

        <v-card-text style="color: black" class="ma-0 pa-2 pt-0">

            <div class="d-flex">
                <strong style="font-size: 1.2rem">{{command.hour | pad}}:{{command.minute | pad}}</strong>
                <div class="ml-auto">
                    <v-btn @click="onEdit" color="yellow" small  fab width="25px" height="25px" class="mr-2"><v-icon color="black" style="font-size: 15px">mdi-pen</v-icon></v-btn>
                    <v-btn @click="onDone" color="red" small fab width="25px" height="25px"><v-icon color="white" style="font-size: 15px">mdi-delete</v-icon></v-btn>
                </div>
            </div>


                <div v-for="item in command.itemsDesc">
                    <item-detail-line :item="item"></item-detail-line>
                </div>


                <div class="grey--text font-weight-bold">{{command.description}}</div>
        </v-card-text>

    </v-card>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import ItemDetailLine from './ItemDetailLine.vue';
    import {CommandInterface} from "@/interfaces/command.interface";

    @Component({
        components: {ItemDetailLine},
        filters: {
            pad(value: any) {
                if(value != null) {
                    console.log(value);
                    return String(value).padStart(2, "0");
                }

                return '';
            }
        }
    })
    export default class CommandDetail extends Vue {
        @Prop() private command!: CommandInterface;



        onEdit() {
                this.$store.commit('addCommandToPendingCommand', this.command);
        }

        onDone() {
            this.$store.commit('doneCommand', this.command);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">



</style>
