

<template>
    <div style="height: 100%">
        <v-card style="height: 100%">
            <v-card-text class="py-0">
                <div class="row" v-if="commands">
                    <div v-for="command in commands" class="col-6">
                        <CommandDetail :command="command"></CommandDetail>
                    </div>

                </div>
            </v-card-text>
        </v-card>

    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import ItemDetailLine from './ItemDetailLine.vue';
    import CommandDetail from '@/components/CommandDetail.vue';

    @Component({
        components: {CommandDetail, ItemDetailLine}
    })
    export default class CommandList extends Vue {
        private commands: any = null;

        created() {
            this.commands = this.$store.state.commands;
        }


    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    style>
