<template>
    <v-app id="inspire">

        <v-content>

            <div v-if="this.$store.state.pendingsCommand.itemsDesc.length > 0" class="layout fab-container" style="position: fixed; bottom: 30px; right: 10px; z-index: 9999">
                <command-form></command-form>
            </div>


            <v-container
                    style="height: 100%"
                    fluid
            >
                <v-row>
                    <v-col cols="3">
                        <item-list></item-list>
                    </v-col>

                    <v-col cols="9">
                        <command-list></command-list>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>

    </v-app>
</template>

<script lang="ts">
    import Vue from "vue";
    import Item from "@/components/Item.vue";
    import ItemList from "@/components/ItemList.vue";
    import CommandList from "@/components/CommandList.vue";
    import CommandForm from '@/components/CommandForm.vue';

    const items = require("../assets/items.json");

    export default Vue.extend({
        components: {CommandForm, CommandList, ItemList, Item},


        created(): void {
            this.$store.commit("setItems", items);

        }
    });
</script>
