<template>
    <div>

        <div class="d-flex ">

            <div class="flex-grow-0 mr-1 mb-1">
                <v-img :src="item.item.image" width="25" height="25"></v-img>
            </div>

            <div>{{item.item.name}}</div>
            <div class="ml-2" style="font-weight: bold">x {{item.count}}</div>

        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    @Component({
        components: {}
    })
    export default class ItemDetailLine extends Vue {
        @Prop() private item!: any;
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    style>
