<template>
    <div class="row">
        <div class="col-6" v-for="item in items">
            <item @addItem="onAddItem($event)" :item="item"></item>
        </div>


    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    import Item from '@/components/Item.vue';
    import {CommandInterface} from "@/interfaces/command.interface";
    @Component({
        components: {Item}
    })
    export default class ItemList extends Vue {
        private items = null;
        private data = null;

        created() {
            this.items = this.$store.state.items;
            this.data = this.$store.state.commands;
        }

        onAddItem(item: Item) {
            console.log(item)
            this.$store.commit('addToPendingCommand', item);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    style>
