<template>
    <v-card @click="onItemClick" class="v-card--link " style="height: 100%">
        <v-card-text class="ma-0 pa-0 black--text p-0 m-0" style="font-size: 12px">
            <div class="d-flex align-center">
                <v-img :src="item.image" class="flex-grow-0 mr-2" width="40px" height="40px"/>
                <div class=""> {{item.name}} </div>
            </div>

        </v-card-text>
    </v-card>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class Item extends Vue {
        @Prop() private item!: Item;


        onItemClick() {
            this.$emit('addItem', this.item);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    style >

