
@import "~@mdi/font/css/materialdesignicons.min.css" ;

.fab-container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 9999;
}


.btn-deleteadd {
  width: 20px !important;
  height: 20px !important;
}


body, html {
  font-size: 13px !important;
  color: black !important;
}
